# Ignore Python cache and checkpoints
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Jupyter config directory
.jupyter/

# Ignore macOS system files
.DS_Store

# Ignore all CSV files
*.csv

# Ignore all Excel files
*.xls
*.xlsx

# Ignore JSON, YAML, PNG, and HTML files globally
*.json
*.yaml
*.png
*.html

# Ignore everything inside the results folder
results/